<li class="command_line">
  <span class="line_counter line_count"></span>
  <div class="line__content">
    <span class="anim delay-0">{{ command }}</span>
  </div>
</li>
<li class="command_line">
  <span class="line_counter">&nbsp;</span>
  <div class="line__content">
    <span class="anim delay-1"><b class="green">Available Commands</b>:</span>
    <span class="anim delay-2">-----------------------</span>
    <span class="anim delay-3"
      ><b class="yellow">help</b>: Display this help message</span
    >
    <span class="anim delay-3"
      ><b class="yellow">whoami</b>: Display information about me</span
    >
    <span class="anim delay-4"
      ><b class="yellow">about</b>: Display about information</span
    >
    <span class="anim delay-4"
      ><b class="yellow">stats</b>: Display my stats</span
    >
  </div>
</li>
