<li class="command_line">
  <span class="line_counter line_count"></span>
  <div class="line__content">
    <span class="anim delay-0">{{ command }}</span>
  </div>
</li>
<li class="command_line">
  <span class="line_counter">&nbsp;</span>
  <img src="static/images/profile.png" alt="Profile image" />
  <div class="line__content">
    <span class="anim delay-1"><b class="green">Amir Nurmukhambetov</b></span>
    <span class="anim delay-1">------------------------------------------</span>
    <span class="anim delay-2"
      ><b class="yellow">Education</b>: Eindhoven University of Technology</span
    >
    <span class="anim delay-2"
      ><b class="yellow">Position</b>: Backend Developer</span
    >
    <span class="anim delay-2"
      ><b class="yellow">Location</b>: Breda, Netherlands</span
    >
    <span class="anim delay-3"
      ><b class="yellow">CV</b>:
      <a href="static/docs/cv-amir-nurmukhambetov.pdf" target="_blank"
        >Link to CV</a
      >
      {% include "icons/link.html" %}
    </span>
    <span class="anim delay-3"
      ><b class="yellow">Languages</b>: Python, Rust, Javascript,
      Typescript</span
    >
    <span class="anim delay-4"
      ><b class="yellow">Email</b>:
      <a href="mailto:thereug6@gmail.com">thereug6@gmail.com</a>
      {% include "icons/link.html" %}
    </span>
    <span class="anim delay-4"
      ><b class="yellow">Github</b>:
      <a href="https://github.com/Hereugo">Github Profile</a>
      {% include "icons/link.html" %}
    </span>
    <span class="anim delay-5"
      ><b class="yellow">Linkedin</b>:
      <a href="https://linkedin.com/in/hereugo">Linkedin Profile</a>
      {% include "icons/link.html" %}
    </span>
    <br />
    <span class="comment anim delay-6"># Color Test:</span>
    <span class="anim delay-6">
      <span class="red">&block;&block;</span>
      <span class="green">&block;&block;</span>
      <span class="yellow">&block;&block;</span>
      <span class="blue">&block;&block;</span>
      <span class="pink">&block;&block;</span>
      <span class="cyan">&block;&block;</span>
      <span class="white">&block;&block;</span>
      <span class="gray">&block;&block;</span>
    </span>
  </div>
</li>
